/* Footer Styles */

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color:rgba(40, 59, 93, 0.8);
  font-family: 'Space Mono', monospace;
  color: lightcoral;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1rem;
}

.footerColumn a {
  font-size: 1rem;
  color: lightgoldenrodyellow;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.footerColumn a:hover {
  color: lightcoral;
  font-weight: bold;
}

#footer p {
  font-size: 0.9rem;
  color: lightcoral;
}
